# root
node_modules/
# root misc
.pnpm-*.log
.DS_Store
.dccache

# server
server/node_modules/
server/dist/
# server misc
server/.pnpm-*.log
server/.DS_Store
server/.dccache

# client
client/node_modules/
client/dist/
# client misc
client/.pnpm-*.log
client/.DS_Store
client/.dccache
client/.cert